.calendar-wrapper {
  padding: 40px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.calendar-heading {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #2c3e50;
}

.calendar-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  height: 75vh;
}
